@import "compass";


$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png') !default;

// Main Link Colors
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
.mono { font-family: $mono; }
.sans { font-family: $sans; }
.serif { font-family: $serif; }

@import "base/utilities";
@import "base/solarized";
@import "partials/syntax";
@import "plugins/ribbonp";
@import "foo.casper/normalize";
@import "foo.casper/foocasper";
@import "foo.casper/rve";

@import "font-awesome/font-awesome";
.fa           { color: #004225; }
.fa-inverse   { color: #f9f9f9; }
$fa-border-color:     #004225 !default;
.rotate-on-hover .fa {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.rotate-on-hover .fa:hover {
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* 
@include global-reset;	

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";

@import "custom/styles";

*/