---
layout: default
single: true
---
    <article class="post type-post status-publish format-standard hentry category-schweeeet" itemscope itemtype="http://schema.org/Article">
      {% include foo.casper/article.html %}
      <nav class="pagination navigation paging-navigation" role="navigation">
        <div class="nav-links">
          {% if page.previous.url %}<div class="older-posts"><a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a></div>{% endif %}
          {% if page.next.url %}<div class="newer-posts"><a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a></div>{% endif %}
        </div>
      </nav>
      <div class="clear"></div>
{% if site.disqus_short_name and page.comments == true %}
      <a class="post-comment-anchor" name="comments"></a>
      <section class="post-comment">
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
      </section>
{% endif %}
    </article>