/* 
  video responsive plugin
  sourced from https://github.com/optikfluffel/octopress-responsive-video-embed 
*/

.embed-video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  /* overflow: hidden; */
  margin-bottom: 3.5em;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}