<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  Blog content licensed under <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a> - 
  <span class="credit"><a href="/buymeabeer">buy me a beer</a> |
  <a href="/blogtegrity">blogtegrity</a> |
  <a href="/privacy">privacy</a></span>
</p>
