---
layout: default
title: "Eric Duncan"
subtitle: "Software Architect and Technical Advisor"
footer: true
alias: ["default.aspx"]
---

    <article class="post home homepage">
      <section class="post-content" itemprop="articleBody">
      
        <div class="whatido">
          <span class="fa-stack fa-5x rotate-on-hover">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <div>
            <h2 class="homepage">Advising</h2>
            <p>
              Got an idea but don't know where to start?
              No problem.  I provide technical advice to 
              many startups.
            </p>
          </div>
        </div>


        <div class="whatido">
          <span class="fa-stack fa-5x rotate-on-hover">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
          </span>
          <div>
            <h2 class="homepage">Coding</h2>
            <p>
              From mock-ups to full-stack development, from
              security audits to PCI compliance, I engineer
              full solutions.
            </p>
          </div>
        </div>

        <div class="whatido">
          <span class="fa-stack fa-5x rotate-on-hover">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
          </span>
          <div>
            <h2 class="homepage">Scaling</h2>
            <p>
              Expecting to be on the front-page?  Scheduling
              a TV spot?  I create and audit web apps to scale
              for both onsite and in the cloud.
            </p>
          </div>
        </div>

        <div class="whatido"></div>

        <h2 class="homepage">Contact me</h2>

        {% include foo.casper/contact.html %}

        <style type="text/css">
          blockquote { display: none; }
          blockquote:first-of-type { display: block; }
        </style>

        <div class="quotes">

        {% blockquote Mike Woods - A5 Group %}

        'Visionary and able to see "over the curve of the earth" where others can see nothing. Able to translate vision to concept and concept into action.'

        {% endblockquote %}


        {% blockquote Adonis Bitar - Telligent / Kalkomey Enterprises %}

        "Eric is passionate about technology, has a great breadth of skills and is creative in building valuable solutions. I've enjoyed working with Eric in the past and believe he'd be a wonderful addition to any team."

        {% endblockquote %}

        {% blockquote Jason Alexander - Telligent / Kalkomey Enterprises %}

        "Eric is a go-getter! Eric works hard to find solutions, never gives up and is determined to go that extra mile to knock something out of the park."

        {% endblockquote %}

        {% blockquote John Balod - Telligent / Microsoft %}

        "I have had the privilege of working with Eric Duncan while he with Telligent Systems. Eric was a great innovator when I presented several challenges, suggesting not just one but several solutions and approaches.  As a team player, Eric was always quick to help out in areas where the project was struggling to provide guidance to less experienced developers."

        {% endblockquote %}

        {% blockquote Scott Dockendorf - Telligent %}

        "Eric has gone way above and beyond making several companies and launches successful.  Recently, he took the lead over a project involving 17 developers and PMs worldwide, through 16 hour time differences, working closely with the team to integrate, test, and implement the solutions while being extremely diligent to ensure each and every part was changed to work flawlessly.

        I have not seen this level of effort before from a single individual.  Does Eric even sleep?"

        {% endblockquote %}

        {% blockquote Chris Hammond - Telligent / ClubReady %}

        "Eric has a drive that is unmatched to bring advancement to technology."

        {% endblockquote %}


        {% blockquote Emanuele Ognissanti - Microsoft / ImagineCup %}

        "We already have more than 7,500 unique competitors worldwide in just 18 hours of launch!  All of you work will positively impact the experience of these people!  On the behalf of all ImagineCup competitors, Microsoft employees, and personally, THANK YOU VERY VERY MUCH for your efforts and precious time you dedicated to our initiative."

        {% endblockquote %}

        {% blockquote Russ Nemhauser - Microsoft / ImagineCup %}

        "On behalf of all of us at Microsoft I wanted to let you know how much we all appreciate your dedication and availability to help us make this a reality!"

        {% endblockquote %}

        {% blockquote Thomas Lucchini - Microsoft / ImagineCup %}

        "Our launch wouldn't have been possible without the amazing efforts (during the Holiday period no less) from Eric Duncan who worked it into production - working all night long the last several days."

        {% endblockquote %}

        {% blockquote Rachel Appel - Microsoft %}

        "Eric has a set of well rounded skills that apply in many areas making him agile and versatile in the type of situations startups often must face. He can also get the job done without supervision and prides himself (rightly so) on delivering quality."

        {% endblockquote %}

        
        {% blockquote Mike Woods - iDealmusic %}

        'Eric always brings innovative technology to push the envelope. He is master at writing efficient code that has great performance characteristics. He is never afraid to think outside the box. "Master of Many" would be a good phrase to describe Eric.''

        {% endblockquote %}

        {% blockquote Eliot Houser - iDealmusic / Applied Health Analytics %}

        "Mr. Eric Duncan is real pleasure to work with. When confronted with an issue, he is relentless in trying to solve it -- often coming up with truly innovative and elegant solutions. He is also tireless. Back in the day, we'd regularly be hacking out code into the wee hours, completely forgetting about the time. I would unreservedly recommend Eric for any development job requiring a well-rounded, high-end developer."

        {% endblockquote %}


        {% blockquote Sateesh Chandrashekhar - Unigo / Ideavate / Mobile Pundits %}

        "Eric is well crafted at his skills. He worked well with us overseas and in person often times being the problem solver and organizer to move all the teams forward in unison.  I would recommend Eric for any consulting or developer position at any startup or existing company."

        {% endblockquote %}

        {% blockquote Manish Chhetia - Unigo / Ideavate / Capgemini %}

        "Eric is a detail-oriented technical person; possessing a good command on managing multiple technologies simultaneously. He is a good team player to work with; I wish him all the best for his future endeavors."

        {% endblockquote %}


        {% blockquote Anthony Morgan - GlobalGrind / Narrative %}

        "Eric has a great sense of the entire product he's working on. Which is key to pulling the pieces together and working with others to work toward the same goal. Since tech is a hobby of his, he's always happy to share insight and knowledge of the latest technologies. He's extremely easy to work with, which is a huge plus, and willing to work as a team to hit even the most ambitious deadlines."

        {% endblockquote %}


        {% blockquote Jeff McCandless - Legalbill %}

        'I am pleased to recommend Eric Duncan for employment with your company.  Eric's "fire and forget" approaches to a multitude of technologies really helped to get over our bottlenecks and greatly ramp up production.  Eric put my concerns to ease with the high caliber of experience and skills he brought to Legalbill.'

        {% endblockquote %}


        {% blockquote Todd Major - Post Properties %}

        "Eric is very passionate about his work. He is very driven and dedicated, and always enjoys a good challenge. Eric is always willing to put in the extra hours to get the job done. I have seen him create excellent products for a number of startups and he would be a great addition to any team!"

        {% endblockquote %}


        {% blockquote Randall Greer - Efficient 3D Designs %}

        "Eric has an entrepreneurial spirit - always in search of the next big thing and not afraid of pursuing ideas to prove them out. The perfectionist in him allows him to change direction if the current direction is not proving to be the best. His analytic skills allow him to quickly work through various scenarios. He's always thoughtful of others in all that he does in life."

        {% endblockquote %}


        {% blockquote John Dyer - Communications and Educational Technology at Dallas %}

        "We ran a small hosting company for a while.  Eric was always on top of things and didn't take any short cuts to doing things right."

        {% endblockquote %}

        </div>

      </section>

    </article>

    <nav class="pagination navigation paging-navigation pagenation-spacer" role="navigation">
      <div class="nav-links">
        <div class="older-posts"><a class="previous-quote" href="javascript:return false" title="Previous quote">&laquo; Previous </a></div>
        <div class="newer-posts"><a class="next-quote" href="javascript:return false" title="Next quote">Next &raquo;</a></div>
      </div>
    </nav>